<!--The content below is only a placeholder and can be replaced.-->

<!-- <button (click)="authorise()">Auth</button>
<button (click)="getMsg()">Get Message</button> -->
<div id="CardContainer" (scroll)="scrollHandler($event)" class="cards__container">

  <div *ngFor="let item of CardsContainer " class="card__hotel">
    <div [ngStyle]="item.image" class="card__hotel__left">
      <div *ngIf="item.discount > 0" class="chl__banner">
        Сэкономьте {{item.discount}}%
      </div>
    </div>
    <div class="card__hotel__middle">
      <p>{{item.name}}</p>
      <div class="chm__star__container">
        <div *ngIf="item.starAmount >=0" class="chm__star">
          <span>☆</span>
        </div>
        <div *ngIf="item.starAmount >=0" class="chm__star">
          <span>☆</span>
        </div>
        <div *ngIf="item.starAmount >=0" class="chm__star">
          <span>☆</span>
        </div>
        <div *ngIf="item.starAmount >=1" class="chm__star">
          <span>☆</span>
        </div>
        <div *ngIf="item.starAmount >=2" class="chm__star">
          <span>☆</span>
        </div>
      </div>
      <p>Расположение</p>
      <p>{{item.address}}</p>
    </div>
    <div class="card__hotel__right">
      <div *ngIf="item.discount > 0" class="chr__old__price">
        {{item.price_d_false}} RUB
      </div>
      <div *ngIf="item.discount <= 0" class="chr__old__price hidden">
        RUB
      </div>
      <div class="chr__new__price">
        {{item.price_d_true}} RUB
      </div>
      <a class="btn">Посмотреть</a>
    </div>

  </div>
  <div id="loader" class="loader">
    <div class="lds-ring">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

</div>

<router-outlet></router-outlet>
